
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: auto auto;
    background-color: #040f1d;
    width: 70%;
    border-radius: 0px;
}
h1{
    text-align: center;
}
#rectangle{
    height: 60px;
width: 100px;
left: 217px;
top: 101px;
border-radius: 5px;
border-radius: 5px;
}

button{
height: 42px;
width: 100px;
left: 217px;
top: 209px;
border-radius: 5px;
background: #FFFFFF;

}
button:hover{
    cursor: pointer;
    background-color:rgb(46, 46, 202);

    
}

.heading{
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: auto auto;
}
/* SECTION*/
section{
    background-color: #273549;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: auto auto;
    
}
#group1,
#group2,
#group3{
   background-color: #334257;
   width: 90%;
   margin-top: 10px;
   text-align: center;
}